

.container-1{

    width: 75%;
    margin: auto;
    text-align: center;
}
.flex-box-container-1{
    display: flex;

    padding: 10px;
    flex-wrap: wrap;
    justify-content:  space-around;


}
.flex-box-container-1 div{
    padding: 10px;
    display: flex;

    align-items: center;
}
